.App {
  height: 800px;
  background-image: url("/src/assets/mobile-home-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}


@media screen and (min-width: 1024px) {
  .App {
    height: 665px;
    background-image: url("/src/assets/home-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
}